#composeBudget {
  /* width: 90% !important ;
  height: 100% !important ;
  padding: 5%; */
}

#editBudgetModal {
  width: 90% !important ;
  height: auto !important ;
  /* padding: 1%; */
}

.smallForm {
  width: 60%;
  margin: auto;
}

.inputColor{
    color: red
}

.logoBudget{
  font-family: 'Kristi', cursive;
}

.logoVault{
  font-family: 'Italianno', cursive;
}

.budgetTr:hover{
cursor: pointer;
}

/* .budgetTr  */