#composeBudget {
  /* width: 90% !important ;
  height: 100% !important ;
  padding: 5%; */
} /* increase the height and width as you desire */

.smallForm {
  width: 60%;
  margin: auto;
}

.inputColor{
    color: red
}

.logoBudget{
  font-family: 'Kristi', cursive;
}

.logoVault{
  font-family: 'Italianno', cursive;
}