#composeBudget {
  width: 90% !important ;
  height: auto !important ;
  padding: 5%;
}

#editBudgetModal {
  width: 90% !important ;
  height: auto !important ;
  /* padding: 1%; */
}

.smallerDeviceForm {
  width: 100%;
  margin: auto;
}
.biggerDeviceForm {
  width: 50%;
  margin: auto;
}

.inputColor{
    color: red
}

.logoBudget{
  font-family: 'Kristi', cursive;
}

.logoVault{
  font-family: 'Italianno', cursive;
}

.budgetTr:hover{
cursor: pointer;
}

/* .budgetTr  */